Based on:
- [Introduction to kdb+ and q #10: Tables (video)](https://www.youtube.com/watch?v=enAd43Ge2pY)

Number of entries:

In [1]:
//nentries:10000000

In [2]:
nentries:1000

**Random number generation (`a?b`)**

Generate 10 random integers samples uniformly between 0 and 4.

In [3]:
10?5

4 0 2 1 2 1 2 3 2 4

Generate 10 random floats uniformly between 0 and 0.5.

In [4]:
10?0.5

0.2892601 0.04194429 0.09799536 0.187819 0.3068726 0.2647404 0.3458049 0.1148..

**Date (`date`)**

Random dates between 2018.01.01 and 2018.01.31

In [5]:
dates:2018.01.01+nentries?31

In [6]:
dates

2018.01.10 2018.01.03 2018.01.08 2018.01.01 2018.01.18 2018.01.15 2018.01.10 ..

In [7]:
count dates

1000

**Time (`time`)**

Random times between midnight and midnight

In [8]:
times:nentries?24:00:00.0000

In [9]:
times

04:49:27.524 00:01:29.269 07:50:12.732 07:40:43.020 10:42:45.816 12:30:59.249..

**Quantity (`qty`)**

Random quantities in multiples of 100 between 100 and 10000

In [10]:
qtys:100*(1+(nentries?100))

Same as

In [11]:
qtys:100*1+nentries?100

In [12]:
qtys

2300 1500 3100 5600 7300 3200 9200 2200 10000 1400 1500 3600 9400 6500 6200 4..

Random integers between 0 and 2

In [13]:
ixs:nentries?3

In [14]:
ixs

0 2 2 2 2 1 2 1 1 2 1 0 0 1 0 1 0 2 2 2 1 1 0 2 1 2 2 0 1 0 2 1 1 0 0 1 2 2 1..

**Ticker symbols (`sym`)**

Random symbols generated from the random indices above

In [15]:
symlist:`aapl`amzn`googl

In [16]:
symlist

`aapl`amzn`googl

`symlist` is a list of symbols

In [17]:
type symlist

11h

Generate the `nentries` long list of symbols corresponding to the indices

In [18]:
syms:`aapl`amzn`googl[ixs]

In [19]:
syms

`aapl`googl`googl`googl`googl`amzn`googl`amzn`amzn`googl`amzn`aapl`aapl`amzn`..

You can leave out the brackets, `[]`:

In [20]:
syms:`aapl`amzn`googl ixs

In [21]:
syms

`aapl`googl`googl`googl`googl`amzn`googl`amzn`amzn`googl`amzn`aapl`aapl`amzn`..

In [22]:
type syms

11h

**Prices (`px`)**

Minimum prices of aapl, amzn and googl

In [23]:
min_pxs:172.0 1189.0 1073.0 ixs

Multiply each minimum price by a random float between 1.0 and 1.03

In [24]:
pxs:(1+nentries?.03)*172.0 1189.0 1073.0 ixs

In [25]:
pxs

175.2551 1097.472 1092.906 1098.675 1076.142 1189.412 1089.62 1207.967 1208.9..

**Finally create the table**

Syntax:
~~~~
([] colname1:col1; colname2:col2; ...; colnamen:coln)
~~~~

In [26]:
t:([] date:dates; time:times; sym:syms; qty:qtys; px:pxs)

In [27]:
t

date       time         sym   qty   px
--------------------------------------------
2018.01.10 04:49:27.524 aapl  2300  175.2551
2018.01.03 00:01:29.269 googl 1500  1097.472
2018.01.08 07:50:12.732 googl 3100  1092.906
2018.01.01 07:40:43.020 googl 5600  1098.675
2018.01.18 10:42:45.816 googl 7300  1076.142
2018.01.15 12:30:59.249 amzn  3200  1189.412
2018.01.10 07:28:17.814 googl 9200  1089.62
2018.01.19 23:34:41.241 amzn  2200  1207.967
2018.01.18 23:44:35.019 amzn  10000 1208.963
2018.01.09 07:54:14.513 googl 1400  1087.146
2018.01.25 12:13:26.031 amzn  1500  1220.896
2018.01.14 16:34:27.313 aapl  3600  173.0285
2018.01.31 20:48:34.553 aapl  9400  176.1641
2018.01.18 23:10:03.653 amzn  6500  1216.967
2018.01.27 03:30:15.416 aapl  6200  175.7006
2018.01.24 03:28:41.342 amzn  4800  1197.718
2018.01.28 07:30:21.934 aapl  1300  175.246
2018.01.13 14:12:54.049 googl 8500  1099.204
2018.01.13 17:02:31.225 googl 4100  1093.655
2018.01.03 10:04:22.023 googl 7200  1075.697
..

**Sort the table by date and time (`xasc`)**

In [28]:
tsorted:`date`time xasc t

In [29]:
tsorted

date       time         sym   qty  px
-------------------------------------------
2018.01.01 00:15:10.196 amzn  1300 1223.615
2018.01.01 01:34:45.302 googl 1000 1083.787
2018.01.01 01:54:37.361 googl 1600 1074.933
2018.01.01 02:05:52.546 aapl  6900 175.1493
2018.01.01 02:53:20.115 aapl  2800 174.8195
2018.01.01 03:35:37.788 aapl  400  173.0159
2018.01.01 03:48:28.457 aapl  4000 175.5413
2018.01.01 07:40:43.020 googl 5600 1098.675
2018.01.01 08:44:38.047 amzn  2400 1209.28
2018.01.01 09:14:12.987 googl 3800 1082.261
2018.01.01 10:43:04.620 amzn  1800 1195.35
2018.01.01 10:48:15.325 aapl  700  173.4972
2018.01.01 11:08:25.067 googl 1400 1089.667
2018.01.01 11:28:20.668 amzn  1700 1203.273
2018.01.01 11:40:57.353 amzn  4100 1212.801
2018.01.01 12:02:16.578 amzn  6600 1198.425
2018.01.01 12:21:05.509 amzn  8800 1217.267
2018.01.01 15:59:40.179 aapl  3700 173.8977
2018.01.01 16:11:58.108 aapl  2100 176.9243
2018.01.01 16:26:44.436 aapl  4500 176.5685
..

**Show the first 5 items (with the help of the `#` operator)**

In [30]:
5 # tsorted

date       time         sym   qty  px
-------------------------------------------
2018.01.01 00:15:10.196 amzn  1300 1223.615
2018.01.01 01:34:45.302 googl 1000 1083.787
2018.01.01 01:54:37.361 googl 1600 1074.933
2018.01.01 02:05:52.546 aapl  6900 175.1493
2018.01.01 02:53:20.115 aapl  2800 174.8195

Save table in binary data format

In [31]:
`:table.dat set tsorted

`:table.dat

Save table in csv format

In [32]:
`:table.csv 0: csv 0: tsorted

`:table.csv