Based on:
- [Introduction to kdb+ and q #10: Tables](https://www.youtube.com/watch?v=enAd43Ge2pY)

Number of entries:

In [1]:
//nentries:10000000

In [2]:
nentries:100

**Random number generation (`a?b`)**

Generate 10 random integers samples uniformly between 0 and 4.

In [3]:
10?5

4 0 2 1 2 1 2 3 2 4

Generate 10 random floats uniformly between 0 and 0.5.

In [4]:
10?0.5

0.2892601 0.04194429 0.09799536 0.187819 0.3068726 0.2647404 0.3458049 0.1148..

**Date (`date`)**

Random dates between 2018.01.01 and 2018.01.31

In [5]:
dates:2018.01.01+nentries?31

In [6]:
dates

2018.01.10 2018.01.03 2018.01.08 2018.01.01 2018.01.18 2018.01.15 2018.01.10 ..

In [7]:
count dates

100

**Time (`time`)**

Random times between midnight and midnight

In [8]:
times:nentries?24:00:00.0000

In [9]:
times

12:09:01.385 12:46:01.193 20:45:52.274 20:27:08.197 13:05:50.541 23:37:45.628..

**Quantity (`qty`)**

Random quantities in multiples of 100 between 100 and 10000

In [10]:
qtys:100*(1+(nentries?100))

Same as

In [11]:
qtys:100*1+nentries?100

In [12]:
qtys

4800 500 8600 2200 4800 2600 1900 5500 1200 500 7600 4300 9100 7100 2300 1800..

Random integers between 0 and 2

In [13]:
ixs:nentries?3

In [14]:
ixs

0 2 2 2 0 0 1 0 1 0 0 1 0 1 1 1 1 0 1 2 0 1 1 2 1 0 1 0 2 1 0 2 0 2 0 0 2 2 2..

**Ticker symbols (`sym`)**

Random symbols generated from the random indices above

In [15]:
symlist:`aapl`amzn`googl

In [16]:
symlist

`aapl`amzn`googl

`symlist` is a list of symbols

In [17]:
type symlist

11h

Generate the `nentries` long list of symbols corresponding to the indices

In [18]:
syms:`aapl`amzn`googl[ixs]

In [19]:
syms

`aapl`googl`googl`googl`aapl`aapl`amzn`aapl`amzn`aapl`aapl`amzn`aapl`amzn`amz..

You can leave out the brackets, `[]`:

In [20]:
syms:`aapl`amzn`googl ixs

In [21]:
syms

`aapl`googl`googl`googl`aapl`aapl`amzn`aapl`amzn`aapl`aapl`amzn`aapl`amzn`amz..

In [22]:
type syms

11h

**Prices (`px`)**

Minimum prices of aapl, amzn and googl

In [23]:
min_pxs:172.0 1189.0 1073.0 ixs

Multiply each minimum price by a random float between 1.0 and 1.03

In [24]:
pxs:(1+nentries?.03)*172.0 1189.0 1073.0 ixs

In [25]:
pxs

173.2873 1073.684 1084.942 1101.968 175.6068 174.3946 1204.47 172.8965 1192.9..

**Finally create the table**

Syntax:
~~~~
([] colname1:col1; colname2:col2; ...; colnamen:coln)
~~~~

In [26]:
t:([] date:dates; time:times; sym:syms; qty:qtys; px:pxs)

In [27]:
t

date       time         sym   qty  px
-------------------------------------------
2018.01.10 12:09:01.385 aapl  4800 173.2873
2018.01.03 12:46:01.193 googl 500  1073.684
2018.01.08 20:45:52.274 googl 8600 1084.942
2018.01.01 20:27:08.197 googl 2200 1101.968
2018.01.18 13:05:50.541 aapl  4800 175.6068
2018.01.15 23:37:45.628 aapl  2600 174.3946
2018.01.10 06:47:02.682 amzn  1900 1204.47
2018.01.19 21:45:30.452 aapl  5500 172.8965
2018.01.18 11:25:53.445 amzn  1200 1192.995
2018.01.09 16:21:14.910 aapl  500  172.2263
2018.01.25 04:07:07.595 aapl  7600 173.511
2018.01.14 03:22:49.917 amzn  4300 1194.188
2018.01.31 17:32:30.776 aapl  9100 175.2146
2018.01.18 15:47:55.671 amzn  7100 1197.759
2018.01.27 19:03:20.750 amzn  2300 1220.518
2018.01.24 20:51:41.801 amzn  1800 1210.51
2018.01.28 12:07:21.998 amzn  6000 1218.118
2018.01.13 18:21:05.161 aapl  5300 172.5888
2018.01.13 20:25:58.509 amzn  1200 1218.126
2018.01.03 11:35:13.719 googl 4600 1082.652
..

**Sort the table by date and time (`xasc`)**

In [28]:
`date`time xasc t

date       time         sym   qty   px
--------------------------------------------
2018.01.01 00:53:31.660 amzn  3800  1211.407
2018.01.01 17:33:51.826 googl 3300  1090.956
2018.01.01 20:27:08.197 googl 2200  1101.968
2018.01.02 15:14:03.537 aapl  6400  174.1856
2018.01.02 16:58:19.059 googl 1400  1095.106
2018.01.03 05:27:55.434 amzn  10000 1213.419
2018.01.03 08:47:53.561 aapl  700   176.6291
2018.01.03 11:35:13.719 googl 4600  1082.652
2018.01.03 12:46:01.193 googl 500   1073.684
2018.01.03 23:37:44.795 googl 4200  1076.549
2018.01.04 23:35:06.083 aapl  6300  174.8952
2018.01.05 03:13:22.778 aapl  7100  172.3524
2018.01.05 04:42:08.234 aapl  1500  172.2852
2018.01.05 17:05:44.477 googl 1600  1101.989
2018.01.06 01:26:29.905 amzn  2500  1192.228
2018.01.06 16:17:39.845 aapl  8000  173.8114
2018.01.07 05:08:40.857 aapl  4500  175.3328
2018.01.07 11:31:10.263 aapl  8800  172.9475
2018.01.07 13:09:01.552 amzn  6800  1224.046
2018.01.07 19:21:40.832 googl 8600  1092.911
..

**Show the first 5 items (with the help of the `#` operator)**

In [29]:
5 # t

date       time         sym   qty  px
-------------------------------------------
2018.01.10 12:09:01.385 aapl  4800 173.2873
2018.01.03 12:46:01.193 googl 500  1073.684
2018.01.08 20:45:52.274 googl 8600 1084.942
2018.01.01 20:27:08.197 googl 2200 1101.968
2018.01.18 13:05:50.541 aapl  4800 175.6068

In [32]:
save `:t.csv

`:t.csv