# qSQL

**References::**
- https://code.kx.com/q4m3/9_Queries_q-sql/
- [Introduction to kdb+ and q #11: qSQL
](https://www.youtube.com/watch?v=BNNXJHRq7Dc)

Read in table from binary data file

In [1]:
t1:get `:table.dat

In [2]:
t1

date       time         sym   qty  px
-------------------------------------------
2018.01.01 00:15:10.196 amzn  1300 1223.615
2018.01.01 01:34:45.302 googl 1000 1083.787
2018.01.01 01:54:37.361 googl 1600 1074.933
2018.01.01 02:05:52.546 aapl  6900 175.1493
2018.01.01 02:53:20.115 aapl  2800 174.8195
2018.01.01 03:35:37.788 aapl  400  173.0159
2018.01.01 03:48:28.457 aapl  4000 175.5413
2018.01.01 07:40:43.020 googl 5600 1098.675
2018.01.01 08:44:38.047 amzn  2400 1209.28
2018.01.01 09:14:12.987 googl 3800 1082.261
2018.01.01 10:43:04.620 amzn  1800 1195.35
2018.01.01 10:48:15.325 aapl  700  173.4972
2018.01.01 11:08:25.067 googl 1400 1089.667
2018.01.01 11:28:20.668 amzn  1700 1203.273
2018.01.01 11:40:57.353 amzn  4100 1212.801
2018.01.01 12:02:16.578 amzn  6600 1198.425
2018.01.01 12:21:05.509 amzn  8800 1217.267
2018.01.01 15:59:40.179 aapl  3700 173.8977
2018.01.01 16:11:58.108 aapl  2100 176.9243
2018.01.01 16:26:44.436 aapl  4500 176.5685
..

Read in table from csv file

`DTSFF` = date time symbol float float

In [3]:
t0:("DTSFF"; enlist ",") 0:`table.csv

In [4]:
t0

date       time         sym   qty  px
-------------------------------------------
2018.01.01 00:15:10.196 amzn  1300 1223.615
2018.01.01 01:34:45.302 googl 1000 1083.787
2018.01.01 01:54:37.361 googl 1600 1074.933
2018.01.01 02:05:52.546 aapl  6900 175.1493
2018.01.01 02:53:20.115 aapl  2800 174.8195
2018.01.01 03:35:37.788 aapl  400  173.0159
2018.01.01 03:48:28.457 aapl  4000 175.5413
2018.01.01 07:40:43.020 googl 5600 1098.675
2018.01.01 08:44:38.047 amzn  2400 1209.28
2018.01.01 09:14:12.987 googl 3800 1082.261
2018.01.01 10:43:04.620 amzn  1800 1195.35
2018.01.01 10:48:15.325 aapl  700  173.4972
2018.01.01 11:08:25.067 googl 1400 1089.667
2018.01.01 11:28:20.668 amzn  1700 1203.273
2018.01.01 11:40:57.353 amzn  4100 1212.801
2018.01.01 12:02:16.578 amzn  6600 1198.425
2018.01.01 12:21:05.509 amzn  8800 1217.267
2018.01.01 15:59:40.179 aapl  3700 173.8977
2018.01.01 16:11:58.108 aapl  2100 176.9243
2018.01.01 16:26:44.436 aapl  4500 176.5685
..

----------

## `select` query

`select` columns from the table

Syntax:
~~~~
select col1,col2,...,coln from table where condition
~~~~

In [5]:
select time,sym,px from t0

time         sym   px
---------------------------
00:15:10.196 amzn  1223.615
01:34:45.302 googl 1083.787
01:54:37.361 googl 1074.933
02:05:52.546 aapl  175.1493
02:53:20.115 aapl  174.8195
03:35:37.788 aapl  173.0159
03:48:28.457 aapl  175.5413
07:40:43.020 googl 1098.675
08:44:38.047 amzn  1209.28
09:14:12.987 googl 1082.261
10:43:04.620 amzn  1195.35
10:48:15.325 aapl  173.4972
11:08:25.067 googl 1089.667
11:28:20.668 amzn  1203.273
11:40:57.353 amzn  1212.801
12:02:16.578 amzn  1198.425
12:21:05.509 amzn  1217.267
15:59:40.179 aapl  173.8977
16:11:58.108 aapl  176.9243
16:26:44.436 aapl  176.5685
..

`select` on only sym=`aapl

In [6]:
select date,time,qty,px from t0 where sym=`aapl

date       time         qty  px
-------------------------------------
2018.01.01 02:05:52.546 6900 175.1493
2018.01.01 02:53:20.115 2800 174.8195
2018.01.01 03:35:37.788 400  173.0159
2018.01.01 03:48:28.457 4000 175.5413
2018.01.01 10:48:15.325 700  173.4972
2018.01.01 15:59:40.179 3700 173.8977
2018.01.01 16:11:58.108 2100 176.9243
2018.01.01 16:26:44.436 4500 176.5685
2018.01.01 19:00:00.791 9100 173.3112
2018.01.01 19:40:02.896 8200 175.8127
2018.01.01 20:31:53.493 8800 172.1004
2018.01.01 20:53:45.581 7700 173.4677
2018.01.01 23:16:59.328 1500 177.0787
2018.01.02 00:24:29.634 300  172.8448
2018.01.02 08:52:27.927 8100 175.0039
2018.01.02 09:11:58.054 800  175.6625
2018.01.02 09:37:42.740 700  175.9732
2018.01.02 12:01:03.289 1600 176.3234
2018.01.02 13:26:22.975 8200 176.1992
2018.01.02 13:51:34.472 2200 174.1276
..

Time query with `\t`

In [7]:
\t select date,time,qty,px from t0 where sym=`aapl

0

## `first`, `last`

In [8]:
l:10 20 30 40 50

In [9]:
first l

10

In [10]:
last l

50

In [11]:
select open:first px, close:last px from t0 where sym=`aapl

open     close
-----------------
175.1493 176.1641

In [12]:
select open:first px, close:last px by date,time from t0 where sym=`aapl

date       time        | open     close
-----------------------| -----------------
2018.01.01 02:05:52.546| 175.1493 175.1493
2018.01.01 02:53:20.115| 174.8195 174.8195
2018.01.01 03:35:37.788| 173.0159 173.0159
2018.01.01 03:48:28.457| 175.5413 175.5413
2018.01.01 10:48:15.325| 173.4972 173.4972
2018.01.01 15:59:40.179| 173.8977 173.8977
2018.01.01 16:11:58.108| 176.9243 176.9243
2018.01.01 16:26:44.436| 176.5685 176.5685
2018.01.01 19:00:00.791| 173.3112 173.3112
2018.01.01 19:40:02.896| 175.8127 175.8127
2018.01.01 20:31:53.493| 172.1004 172.1004
2018.01.01 20:53:45.581| 173.4677 173.4677
2018.01.01 23:16:59.328| 177.0787 177.0787
2018.01.02 00:24:29.634| 172.8448 172.8448
2018.01.02 08:52:27.927| 175.0039 175.0039
2018.01.02 09:11:58.054| 175.6625 175.6625
2018.01.02 09:37:42.740| 175.9732 175.9732
2018.01.02 12:01:03.289| 176.3234 176.3234
2018.01.02 13:26:22.975| 176.1992 176.1992
2018.01.02 13:51:34.472| 174.1276 174.1276
..

In [13]:
select open:first px, close:last px, lo:min px, hi:max px by date,time from t0 where sym=`aapl

date       time        | open     close    lo       hi
-----------------------| -----------------------------------
2018.01.01 02:05:52.546| 175.1493 175.1493 175.1493 175.1493
2018.01.01 02:53:20.115| 174.8195 174.8195 174.8195 174.8195
2018.01.01 03:35:37.788| 173.0159 173.0159 173.0159 173.0159
2018.01.01 03:48:28.457| 175.5413 175.5413 175.5413 175.5413
2018.01.01 10:48:15.325| 173.4972 173.4972 173.4972 173.4972
2018.01.01 15:59:40.179| 173.8977 173.8977 173.8977 173.8977
2018.01.01 16:11:58.108| 176.9243 176.9243 176.9243 176.9243
2018.01.01 16:26:44.436| 176.5685 176.5685 176.5685 176.5685
2018.01.01 19:00:00.791| 173.3112 173.3112 173.3112 173.3112
2018.01.01 19:40:02.896| 175.8127 175.8127 175.8127 175.8127
2018.01.01 20:31:53.493| 172.1004 172.1004 172.1004 172.1004
2018.01.01 20:53:45.581| 173.4677 173.4677 173.4677 173.4677
2018.01.01 23:16:59.328| 177.0787 177.0787 177.0787 177.0787
2018.01.02 00:24:29.634| 172.8448 172.8448 172.8448 172.8448
2018.01.02 08:52:27.927| 175.0039 175.0039 175.0039 175.0039
2018.01.02 09:11:58.054| 175.6625 175.6625 175.6625 175.6625
2018.01.02 09:37:42.740| 175.9732 175.9732 175.9732 175.9732
2018.01.02 12:01:03.289| 176.3234 176.3234 176.3234 176.3234
2018.01.02 13:26:22.975| 176.1992 176.1992 176.1992 176.1992
2018.01.02 13:51:34.472| 174.1276 174.1276 174.1276 174.1276
..