# Complex qSQL queries

**References:**
- [Introduction to kdb+ and q #12: Complex Queries (*)](https://www.youtube.com/watch?v=DAy2yKSt0fc)
- https://code.kx.com/wiki/Reference/wavg
- https://code.kx.com/wiki/Reference/xbar

## `wavg`

The `wavg` verb returns the average of its right argument weighted by its left argument. The result is floating point.

In [7]:
help wavg

wavg[{[gh;h;x]if[10=type u:gh[h]x;-2 u]}[{[h;x]$[i.isf x;h x;i.isw x;h x`.;i...

In [1]:
4 3 2 1 wavg 10 20 30 40

20f

## `xbar`

The `xbar` verb rounds its right argument down to the nearest multiple of the integer left argument. The right argument can be any numeric or temporal type.

In [5]:
help xbar

k){x*y div x:$[16h=abs[@x];"j"$x;x]}[{[gh;h;x]if[10=type u:gh[h]x;-2 u]}[{[h;..

In [6]:
5 xbar 0 1 2 3 4 5 10 11 21

0 0 0 0 0 5 10 10 20

---------------

## Determining maximum idealised profit (maximum drawdown)

Using:
- `mins`
- `maxs`

Load in the previous table

In [14]:
t:get `:table.dat

In [15]:
t

date       time         sym   qty  px
-------------------------------------------
2018.01.01 00:15:10.196 amzn  1300 1223.615
2018.01.01 01:34:45.302 googl 1000 1083.787
2018.01.01 01:54:37.361 googl 1600 1074.933
2018.01.01 02:05:52.546 aapl  6900 175.1493
2018.01.01 02:53:20.115 aapl  2800 174.8195
2018.01.01 03:35:37.788 aapl  400  173.0159
2018.01.01 03:48:28.457 aapl  4000 175.5413
2018.01.01 07:40:43.020 googl 5600 1098.675
2018.01.01 08:44:38.047 amzn  2400 1209.28
2018.01.01 09:14:12.987 googl 3800 1082.261
2018.01.01 10:43:04.620 amzn  1800 1195.35
2018.01.01 10:48:15.325 aapl  700  173.4972
2018.01.01 11:08:25.067 googl 1400 1089.667
2018.01.01 11:28:20.668 amzn  1700 1203.273
2018.01.01 11:40:57.353 amzn  4100 1212.801
2018.01.01 12:02:16.578 amzn  6600 1198.425
2018.01.01 12:21:05.509 amzn  8800 1217.267
2018.01.01 15:59:40.179 aapl  3700 173.8977
2018.01.01 16:11:58.108 aapl  2100 176.9243
2018.01.01 16:26:44.436 aapl  4500 176.5685
..

In [16]:
select mins px from t where sym=`aapl

px
--------
175.1493
174.8195
173.0159
173.0159
173.0159
173.0159
173.0159
173.0159
173.0159
173.0159
172.1004
172.1004
172.1004
172.1004
172.1004
172.1004
172.1004
172.1004
172.1004
172.1004
..

In [17]:
select px - mins px from t where sym=`aapl

px
---------
0
0
0
2.525382
0.4812909
0.88179
3.908374
3.55261
0.2953645
2.796859
0
1.367299
4.978216
0.7443358
2.903455
3.562101
3.872722
4.222991
4.098728
2.027179
..

In [18]:
select max px - mins px from t where sym=`aapl

px
--------
5.133319